{% extends "tailwind_loader.jinja" %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="w-full text-white bg-green-500">
                <div class="container flex items-center justify-between px-6 py-4 mx-auto" style="width: 700px;">
                    <div class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
                        </svg>
                        <p class="mx-3">{{ message }}</p>
                    </div>
                    <button class="p-1 transition-colors duration-300 transform rounded-md hover:bg-opacity-25 hover:bg-gray-600 focus:outline-none">
                        <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="max-w-4xl p-6 mx-auto bg-white rounded-md dark:bg-gray-800">
        <h2 class="text-2xl mb-4 text-center font-semibold text-gray-700 capitalize dark:text-white">Registreer je als
            ervaringsdeskundige</h2>
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            {{ form }}
            <div class="mt-6 flex items-center justify-end gap-x-6">
                <div class="flex justify-end mt-6">
                    <a href="/">
                        <button type="button"
                                class="px-8 py-2.5 leading-5 border border-gray-300 text-red-600 transition-colors duration-300 transform rounded-md hover:bg-gray-200 focus:outline-none focus:bg-gray-200">
                            Terug
                        </button>
                    </a>
                </div>
                <div class="flex justify-end mt-6">
                    <button type="submit"
                            class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-blue-600 rounded-md hover:bg-blue-700 focus:outline-none focus:bg-blue-700">
                        Registreren
                    </button>
                </div>
            </div>
        </form>
    </div>
    <script>
document.addEventListener('DOMContentLoaded', function() {
    const checkbox = document.querySelector('#id_toezichthouder');
    const fields = [
        document.querySelector('#id_naam_voogd_toezichthouder'),
        document.querySelector('#id_email_voogd_toezichthouder'),
        document.querySelector('#id_tel_voogd_toezichthouder'),
        document.querySelector('label[for="id_naam_voogd_toezichthouder"]'),
        document.querySelector('label[for="id_email_voogd_toezichthouder"]'),
        document.querySelector('label[for="id_tel_voogd_toezichthouder"]')
    ];

    checkbox.addEventListener('change', function() {
        if (this.checked) {
            fields.forEach(field => field.style.display = 'block');
        } else {
            fields.forEach(field => field.style.display = 'none');
        }
    });
});

</script>
{% endblock %}
